* {
    padding: 0;
    margin: 0;
}

h1 {
    position: absolute;
    right: 10vw;
    top: 10vh;
    color: white;
    font-family: monospace;
    transition: 0.5s;
}

div {
    background-image: url("./rocks.jpg");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    position: relative;
    height: 100vh;
    transition: 0.5s;
}